body{
    background-color: rgb(233, 215, 207);
    text-align: center;
    color: rgb(83, 75, 75);
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid rgb(167, 1, 78);
}

h1{
    font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: rgb(167, 1, 78);
}

a:hover{
    text-decoration: underline;
    color: rgb(85, 26, 52);